body {
    margin: 0px;
}

@media {}

@font-face {
    font-family: PPNeueMachina-InktrapRegular;
    src: url(/fonts/PPNeueMachina-InktrapRegular.otf);
}

#main {
    height: 100vh;
    width: 100vw;
    /* background-color: #20212C; */
    /* padding: 0px; */
    overflow-x: hidden;
    margin: 0 0 0 0;

}

/* header */

#header-main {
    height: 100px;
    display: flex;

    background: #26243a;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

#c1 {
    width: 634px;
    height: 65px;
    display: flex;
}

#c2 {
    padding: 35px;
    display: flex;
    justify-content: right;
    width: 634px;
    height: 65px;
    gap: 20px;
}

#c3 {
    padding: 35px;
    display: flex;
    justify-content: right;
    width: 634px;
    height: 65px;
    gap: 20px;

}

.yazicalix img {

    padding-top: 18px;
    padding-left: 50px;
    height: 70px;
    width: 90px;
}

.dot1 img {
    /* padding-top: 30px; */
    /* padding-right: 50px; */
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.button button {

    width: 130px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ffffff;
    color: rgb(255, 255, 255);
    background-color: #6661e9;
    border-radius: 30px;
}

.button button:hover {
    background-color: rgb(255, 255, 255);
    color: #6661e9;
    border: 1px solid #6661e9;
}

/* page-number-1 */

#main1 {
    margin: 0px;
    display: flex;
    background-color: #010317;
    height: 910px;
}

.main1-1 {
    /* background-color: aquamarine; */
    height: 910px;
    width: 957px;
}

/* main1-1-leftside */

.main1-1-leftside {
    /* display: flex; */
    justify-content: center;
    text-align: center;
    padding: 5%;

}

#text-1 {
    margin: 350px 0px 0px 0px;
}

#text-2 {
    margin: -170px 0px 0px 0px;
}

#text-3 {
    margin: -180px 0px 0px 0px;
}

.text-animation {
    margin: -100px 0 0 0;
}

.text-animation {
    font-size: 50px;
    color: #ffffff;
    font-family: 'PPNeueMachina-InktrapRegular';
}

.fade-text {
    opacity: 0;
    position: relative;
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#text-1 {
    animation-name: fadeInOut1;
}

#text-2 {
    animation-name: fadeInOut2;
}

#text-3 {
    animation-name: fadeInOut3;
}

@keyframes fadeInOut1 {

    0%,
    24%,
    100% {
        opacity: 0;
        transform: translateY(20px);
    }

    12% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInOut2 {

    24%,
    48%,
    100% {
        opacity: 0;
        transform: translateY(20px);
    }

    36% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInOut3 {

    48%,
    72%,
    100% {
        opacity: 0;
        transform: translateY(20px);
    }

    60% {
        opacity: 1;
        transform: translateY(0);
    }
}

.yazicalix-about {
    font-size: 14px;
    width: 600px;
    margin: 0px 0px 0px 140px;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* main1-1-rightside */


.main1-2 {
    margin: 0px;
    /* background-color: bisque; */
    height: 910px;
    width: 957px;
    overflow: hidden;
}

.main1-1-rightimg img {
    width: 100%;
    height: 100%;
}

/* space */

#space {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: #010317;

}


#space-1 {
    background-image: linear-gradient(#6f5ea9, #010317);
    width: 80%;
    height: 05%;
    border-radius: 30px;

}

#space-1:hover {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

/* page-number-2 */

#main2 {
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    background-color: #010317;
    width: 100vw;
    height: 1400px;



}

#h2 {
    height: 100px;
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: left;
    padding-left: 120px;


}

h2 {
    font-size: 42px;
    color: #ffffff;
    font-family: 'PPNeueMachina-InktrapRegular';

}


#videosr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1905px;
    height: 30%;
    /* background-color: #6661e9; */

}

#srvideo {
    height: 80%;
    width: 90%;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* background-color: aqua; */
    padding: 20px;
}

.videos {
    width: 560px;
    height: 315px;
    /* background-color: rgb(22, 197, 139); */

    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.80);
}

.videos img {
    width: 560px;
    height: 315px;
}